.status-container {
    text-align: center;
}

.badge {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
}

.badge-success {
    background-color: #2e844a; /* Verde Salesforce */
}

.badge-error {
    background-color: #ea001e; /* Vermelho Salesforce */
}